@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto.woff2') format('woff2'),
    url('/fonts/Roboto.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
}

#__next {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page {
    display: flex;
    flex-grow: 1;
}
